@charset "utf-8";
/* CSS Document */
@import url("ch-ui.admin.css");

/*分类标题前面的样式 begin*/
.folder-open {
	display: inline-block;
	margin-right: 2px;
	width: 20px;
	height: 20px;
	background: url(skin_icons.png) -160px -250px no-repeat;
	vertical-align: middle;
	text-indent: -999em;
	cursor: pointer;
}

.folder-line {
	display: inline-block;
	margin-right: 2px;
	width: 20px;
	height: 20px;
	background: url(skin_icons.png) -200px -250px no-repeat;
	vertical-align: middle;
	text-indent: -999em;
	cursor: pointer;
}
/*分类标题前面的样式 end*/